/* Google Font _ Verela Round , poppins _ @import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');
/* header.css */


/* main.css */
/* 가운데 글씨 */
main{
  width:100%;
  height:100vh;
  color:white;
  background:linear-gradient(rgba(0,0,0,0.8) /*위*/, rgba(0,0,0,0.7)/*아래*/), url('../images/ucla.jpg') center center;
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
main h4{
  font-size:4rem;
}
main h2{
  font-size:2.4rem;
  margin:2rem 0;
  letter-spacing:3px;
  font-family:'Varela Round', sans-serif; /* 웹 폰트 추가 */
}
/*움직이는 글씨*/
.container h2.active span {
  font-size: 2.4rem; /* Default font size */
}


main p{
  max-width:500px;
  margin:0 auto;
  font-size:1.25rem;
}
main button.download{
  background-color:transparent;
  border:3px solid white;
  border-radius:22px;
  padding:1rem 2rem;
  margin-top:3rem;
  color:white;
  font-weight:bold;
  cursor:pointer;
}
main button.mouse{
  background-color:transparent;
  border:none;
  color: #FFD100;
  font-size:2rem;
  position:absolute;
  bottom:1rem;
  left:50%;
  transform:translateX(-50%);
  animation:upDown 1s ease-in-out infinite; /*위아래 움직임*/
  cursor:pointer;
}

/* 글씨 깜빡임 커서  */
main h2 span::after{
  content:"";
  height:50px;
  width:3px;
  background-color:#2774AE;
  display:inline-block;
  animation: blink .7s ease-in-out infinite;
}
@keyframes blink {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes upDown{
  0%{
    bottom:1rem;
  }
  50%{
    bottom:1.5rem;
  }
  100%{
    bottom:1rem;
  }
}




/* About_me.css */
/* 배경 1 색깔 */
section{
  font-family:'Poppins', sans-serif;
  padding:5rem 0;
  background-color:#2774AE;
}
/* 배경 2 색깔  */
 section:nth-child(2n){
  background-color: #005587;
} 
section .title{
  margin-bottom:3rem;
}
/*Title about me */
section .title h4{
  font-size:2rem;
  color:#FFB81C;
  position:relative;
  font-weight: bold; /* 글자를 굵게 처리 */
}

/* Taewook Park 색 */
section .title h2 {
  font-size: 3.5rem;
  color: rgb(255, 255, 255); /* White color */
}

section .title p{
  font-size:1.15rem;
}

.about {
  width:100%;
  height:90vh;
  /* background-image: url('../images/ucla2.jpeg'); */
  /* color:white; */
  background:linear-gradient(rgba(0,0,0,0.9) /*위*/, rgba(0,0,0,0.85)/*아래*/), url('../images/ucla2.jpeg') center center;
  background-size:cover;
  display:flex;
  justify-content:center;
}


/* 본문 너비 절반 지정 & 왼쪽 배치 */
/* 증명사진 (왼쪽사이드) */
section .about-self .left{
  width:30%;
  float:left;
}

/* 이미지 크기가 부모 영역을 넘지 않도록 부모 영역의 최대 크기로 지정 */
/*증명사진 이미지*/
section .about-self .left img{
  max-width:100%;
  vertical-align: middle;
  border-color: #FFD100; 
  border:3px solid #FFD100;
}


/* 본문 너비 절반 지정 & 오른쪽 배치 */
/* Education  */
section .about-self .right{
  width:60%;
  text-align :left;
  float:left;
  padding:0 2rem;
}

/* 본문 오른쪽 h3 태그의 글자 크기와 여백 지정 */
section .about-self .right h3{
  font-size:2.25rem;
  margin-bottom:0rem;
  color: #fff;
  font-weight: bold; /* 글자를 굵게 처리 */
}
/* 본문 오른쪽 h3 태그의 strong 태그 색상 강조 */
section .about-self .right h3 strong{
  color:#ed4848;
}

/* 본문 오른쪽 p 태그의 크기와 여백 지정 */
section .about-self .right p{
  color: #fff;
  text-align :left;
  font-size:1.2rem;
  margin:1rem 0;
}

section .about-self .right p1{
  color: #fff;
  text-align :left;
  font-size:1.4rem;
  margin:1rem 0;
}

section .about-self .right span {
  float: right; 
  font-size: 1rem;
  margin-top:1%;
}


section .about-self .right hr{
  margin-top: 0; /* 탑 마진 제거 */
  border-color:#FFD100;
}
/* 왼쪽의 아이콘 폰트 크기와 여백 지정 */
section .about-self .left .social {
  text-align: center; /* 아이콘을 가운데 정렬 */
  margin-top: auto; /* Push the social container to the bottom */
}

/* GitHub 아이콘을 동그라미 모양으로 변경 */
header .badges .badge a[href*="github.com"] i.fa-brands.fa-github {
  border-radius: 50%; /* 동그라미 모양으로 변경 */
}
section .about-self .left .social a[href*="linkedin.com"] i.fa-brands.fa-linkedin {
  color: #0077B5; /* 링크드인의 색상 */
}

/* 왼쪽의 아이콘 폰트 크기와 여백 지정 */
section .about-self .left .social a{
  color: #fff;
  font-size:4rem;
  margin-right:0.4rem;
}

.social a i.fa-brands {
  padding: 10px; /* 아이콘 주변의 여백 설정 */
}

.social a:hover i.fa-brands {
  transform: scale(1.1); /* 호버 시 약간 크기를 키움 */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); /* 호버 시 부드러운 그림자 효과 */
}

/* 우측 Skills  */
.right i{
  font-size: 2.5rem; /* 아이콘 크기 설정 */
  margin-right: 15px;
}

/* End about_me.css */



/*Main VISUAL*/
.visual {
  margin-top: 0px;
  background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('../images/appstore.png') center center;
  /* background-image: url("../images/appstore.png"); */
  background-position: center;
}
.visual .inner {
  height: 646px;
}
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .title .btn {
  position: absolute;
  top: 400px;
  left: 160px;
}
.visual .swift1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .swift1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .swift2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .swift2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .swift-logo {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  opacity: 0;
}


/*NOTICE*/
/*About Me LINE*/
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  width: 50%;
  height: 100%;
  background-color: #003B5C;
  position: absolute;
  top: 0;
  left: 0;
}
.notice .notice-line .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}
.notice .notice-line .inner {
  height: 62px;
  z-index: 1;
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #003B5C;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons .hide{
  display: none;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-carousel {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-carousel .material-icons {
  color: #2774AE;
  font-size: 30px;
}

/*personal carousel*/
.notice .personal-carousel {
  /*width: auto;*/
  height: 693px;
  background-color:  #8BB8E8;
  position: relative;
  overflow: hidden;
  transition: height .4s;
}
.notice .personal-carousel.hide {
  height: 0;
}
.notice .personal-carousel .swiper-container {
  /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .personal-carousel .swiper-slide {
  position: relative;
  opacity: .5;
  transition: opacity 1s;
}
.notice .personal-carousel .swiper-slide-active {
  opacity: 1;
}
.notice .personal-carousel .swiper-slide .btn {
  /*width: 130px;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .personal-carousel .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}
.notice .personal-carousel .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .personal-carousel .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .personal-carousel .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.notice .personal-carousel .swiper-prev,
.notice .personal-carousel .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border: 2px solid  #003B5C;
  border-radius: 50%;
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 300px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .personal-carousel .swiper-prev {
  color:  #003B5C;
  left: 50%;
  margin-left: -480px;
}
.notice .personal-carousel .swiper-next {
  color:  #003B5C;
  right: 50%;
  margin-right: -480px;
}
.notice .personal-carousel .swiper-prev:hover,
.notice .personal-carousel .swiper-next:hover {
  background-color: #8BB8E8;
  color: #003B5C;
}


/*project 1*/
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.5);
  position: absolute;
}
.find-store .picture1 {
  top: -60px;
  left: 0;
}
.find-store .picture2 {
  top: 150px;
  left: 250px;
}
.find-store .text-group {
  position: absolute;
  top: 100px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}
/* End project 1*/



/*Project 2 */
.project_2 {
  width: 100%;
  background:    
    linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    linear-gradient(to top left, rgba(83, 130, 161, 0), rgba(83, 130, 161, 1)), 
    url('../images/project2_bg.png') center center;
  background-size:cover;
  display:flex;
  justify-content:center;
}
.project_2 .product{
  width: 1000px;
  margin-top: -40px;
  margin-left: -200px; /* 왼쪽으로 이동할 픽셀 수를 지정합니다 */
}
.project_2 .inner {
  height: 450px;
}
.project_2 .floating3 {
  position: absolute;
  width: 810px;
  top: -35px;
  right: 0;
}
.project_2 .text-group {
  position: absolute;
  top: 340px;
  right: 100px;
}
.project_2 .text-group .title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.project_2 .text-group .more{
  display: flex;
  position: absolute;
  right: 40px;
  text-align: center;
  gap: 10px; /* 버튼들 사이의 간격을 조절할 수 있습니다 */
}
.project_2 .text-group .btn {
  display: flex;
  justify-content: center; /* 아이템들을 중앙에 정렬합니다 */
  gap: 10px; /* 아이콘 사이의 간격을 조절할 수 있습니다 */
  align-items: center;
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상을 상속받음 */
}
.project_2 .text-group .btn:hover {
  color: #FFB81C;
}
.project_2 .text-group .material-icons {
  margin-left: 5px; /* 아이콘과 텍스트 사이의 간격을 조절할 수 있습니다 */
}
.project_2 .text-group .description {
  font-size: 19px;
  text-align: center;
  color: #003B5C;
  font-weight: bold;
  margin-bottom: 15px;
}

/*project 2  portfolio-carousel*/
.project_2 .portfolio-carousel {
  /*width: auto;*/
  height: 693px;
  background-color:  #8BB8E8;
  position: relative;
  overflow: hidden;
  transition: height .4s;
}
.project_2 .portfolio-carousel.hide {
  height: 0;
}
.project_2 .portfolio-carousel .swiper-container {
  /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.project_2 .portfolio-carousel .swiper-slide {
  position: relative;
  opacity: .5;
  transition: opacity 1s;
}
.project_2 .portfolio-carousel .swiper-slide-active {
  opacity: 1;
}
.project_2 .portfolio-carousel .swiper-slide .btn {
  /*width: 130px;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.project_2 .portfolio-carousel .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}
.project_2 .portfolio-carousel .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.project_2 .portfolio-carousel .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.project_2 .portfolio-carousel .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.project_2 .portfolio-carousel .swiper-prev,
.project_2 .portfolio-carousel .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border: 2px solid  #003B5C;
  border-radius: 50%;
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 300px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.project_2 .portfolio-carousel .swiper-prev {
  color:  #003B5C;
  left: 50%;
  margin-left: -480px;
}
.project_2 .portfolio-carousel .swiper-next {
  color:  #003B5C;
  right: 50%;
  margin-right: -480px;
}
.project_2 .portfolio-carousel .swiper-prev:hover,
.project_2 .portfolio-carousel .swiper-next:hover {
  background-color: #8BB8E8;
  color: #003B5C;
}
/*End project 2  portfolio carousel*/
/*End project 2  */



/*Project 3 */
.project_3 {
  width: 100%;
  background:    
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    linear-gradient(to bottom right, rgba(83, 130, 161, 0), rgba(83, 130, 161, 1)), 
    url('../images/project3_bg.png') center center;
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items: flex-start; /* 세로 방향으로 위에서 시작 */
}
.project_3 .inner {
  height: 450px;
}
.project_3 .logo {
  position: absolute;
  width: 800px;
  height: 470px;
  margin-top: -70px;
  margin-left: -200px; /* 왼쪽으로 이동할 픽셀 수를 지정합니다 */
  z-index: 1;
}
.project_3 .text-group {
  position: absolute;
  top: 340px;
  left: -120px;
  z-index: 2;
}
.project_3 .text-group .title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project_3 .text-group .btn {
  display: flex;
  justify-content: center; /* 아이템들을 중앙에 정렬합니다 */
  gap: 10px; /* 아이콘 사이의 간격을 조절할 수 있습니다 */
  align-items: center;
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상을 상속받음 */
}
.project_3 .text-group .btn:hover {
  color: #FFB81C;
}
.project_3 .text-group .more{ /*버튼*/
  display: flex;
  position: absolute;
  left: 140px;
  gap: 10px; /* 버튼들 사이의 간격을 조절할 수 있습니다 */
}

.project_3 .text-group .material-icons {
  margin-left: 5px; /* 아이콘과 텍스트 사이의 간격을 조절할 수 있습니다 */
}

.project_3 .text-group .description {
  font-size: 19px;
  text-align: center;
  color: #003B5C;
  font-weight: bold;
  margin-bottom: 15px;
}
.project_3 .product {
  position: absolute;
  width: 700px;
  top: 0;
  right: 0;
  z-index: 0;
}
/*End Project 3*/


/* portfolio projects.css */
/* clear 속성으로 float 속성값 해제*/
section.portfolio::after{
  content:"";
  display:block;
  clear:both;
}

section .portfolio-me {
  /* display: flex; */
  justify-content: center; /* Center align items */
}

/* portfolio-inner 사각형 꾸미기 */
section.portfolio .portfolio-inner{
  width: 300px;
  border-radius: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding:1rem 1rem 1.5rem 1rem;
  float:left;
  background-color: #2774AE; /*배경색*/
  border:3px solid #FFB81C; /*테두리*/
  margin-bottom:3rem;
  margin: 0 1rem 3rem 1rem; /* 상하 좌우의 여백을 자동으로 설정하여 가운데 정렬 */
}
/* :hover mouseover 노란색 테두리와 그림자 효과 추가 */ 
section.portfolio .portfolio-inner:hover{
  border:3px solid #FFD100;
  box-shadow:0 0 10px #FFB81C;
}

/* portfolio-inner 이미지의 크기가 부모 요소를 넘지 않도록 100%로 지정 */
section.portfolio .portfolio-inner img{
  width:100%;
  height: 300px;
  display:block;
}

/* portfolio-inner 사각형이 한줄에 최대 3개만 */
section .portfolio .portfolio-me .portfolio-inner:nth-child(3n){
  margin-right:0;
}

/* h3 태그 색상과 간격 */
section.portfolio .portfolio-inner h3 {
  margin-top: 1rem;
  color: black;
  font-size: 1.75rem;
  font-weight: bold; /* Make h3 text bold */
}

/* strong 태그 색상과 간격 */
section.portfolio .portfolio-inner strong {
  margin-bottom: 0rem;
  color: #FFD100;
  margin: 0.5rem 0;
  display: block;
  font-weight: bold; /* Make strong text bold */
}

/* End portfolio projects.css */


/* personal projects.css */
/* clear 속성으로 float 속성값 해제*/
section.personal::after{
  content:"";
  display:block;
  clear:both;
}

section .personal-me {
  /* display: flex; */
  justify-content: center; /* Center align items */
}

/* personal-inner 사각형 꾸미기 */
section.personal .personal-inner{
  width: 300px;
  border-radius: 5%;
  margin-left: 5%;
  margin-right:5%;
  padding:1rem 1rem 1.5rem 1rem;
  float:left;
  background-color: #005587; /*배경색*/
  border:3px solid #FFB81C; /*테두리*/
  margin-bottom:3rem;
  margin: 0 auto 3rem auto; /* 상하 좌우의 여백을 자동으로 설정하여 가운데 정렬 */
}
/* :hover mouseover 노란색 테두리와 그림자 효과 추가 */ 
section.personal .personal-inner:hover{
  border:3px solid #FFD100;
  box-shadow:0 0 10px #FFB81C;
}

/* personal-inner 이미지의 크기가 부모 요소를 넘지 않도록 100%로 지정 */
section.personal .personal-inner img{
  width:100%;
  height: 300px;
  display:block;
}

/* personal-inner 사각형이 한줄에 최대 3개만 */
section .personal .personal-me .personal-inner:nth-child(3n){
  margin-right:0;
}

/* h3 태그 색상과 간격 */
section.personal .personal-inner h3 {
  margin-top: 1rem;
  color: black;
  font-size: 1.75rem;
  font-weight: bold; /* Make h3 text bold */
}

/* strong 태그 색상과 간격 */
section.personal .personal-inner strong {
  margin-bottom: 0rem;
  color: #FFD100;
  margin: 0.5rem 0;
  display: block;
  font-weight: bold; /* Make strong text bold */
}

/* End personal.css */




/*SCROLL TO TOP*/
#to-top {
  position: fixed;
  bottom: 45px;
  right: 40px;
  z-index: 9;
  width: 45px;
  height: 45px;
  background-color: #003B5C;
  color: #FFB81C;
  border: 2px solid #FFB81C;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation:upDown 1s ease-in-out infinite; /*위아래 움직임*/
}

